.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
  margin-top: 20px;
  .footerLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .footerList {
      padding: 0;
      .footerListItem {
        margin-bottom: 10px;
        color: #083580;
        cursor: pointer;
      }
    }
  }
  .footerText {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
